//- переменные

- var navList = ['ПРОДУУКТЫ', 'ТЕХНОЛОГИИ', 'EXPERIENCE'] 
- var socials = ['twitter', 'inst', 'twitch', 'youtube']
- var cards = [{img: 'hdrDisplay', title: 'HDR DISPLAY', description: 'Получите более широкий и комфортный для восприятия диапазон цветовой гаммы, чем в обычных мониторах.'},{img: 'inputLag', title: 'INPUT LAG', description: 'Мониторы с технологией G-SYNC обеспечивают минимальную задержку между нажатием клавиш и результатом на экране, что очень важно для геймеров.'},{img: 'hightRefresh', title: 'HIGH REFRESH RATE', description: 'NVIDIA тесно сотрудничает с производителями мониторов, чтобы вывести на рынок широкий спектр дисплеев с высокой частотой обновления экрана от 75 до 360 Гц.'},{img: 'wideColor', title: 'WIDE COLOR GAMUT', description: 'Современные мониторы G-SYNC ULTIMATE поддерживают цветовой охват DCI-P3, обеспечивая более реалистичную цветопередачу с плавными переходами.'},]
