header.header
	.header__item.container 
		svg.header__logo 
			use(xlink:href="./img/sprite.svg#logo")

		include ../blocks/nav
		
		button.js-burger.burger.btn
			span.burger__line
	
	include ../blocks/menu


		