mixin socialList(values)
	ul(class!=attributes.class)
		each val in values
			li(class!=attributes.class + '__item')
				a(class!=attributes.class + '__link', href='#')
					svg(class!=attributes.class + '__img')
						use(xlink:href="./img/sprite.svg#" + val)