section.hero
    .hero__item.container

        h1.hero__title.heading-h1 ПРЕИМУЩЕСТВА G‑SYNC
        p.hero__descr Каждый монитор с технологией G‑SYNC проходит серьезное тестирование и контроль качества для обеспечения максимальной производительности. Сотни мониторов проходят контроль качества, но только прошедшие все тесты получают сертификацию G‑SYNC.

        include ../../cards

        a.hero__button(href='#helloModal' data-toggle="modal") Купить
