ul(class='grid')
    each card in cards
        li(class='grid__item')
            article.card
                svg.card__img
                    use(xlink:href="./img/sprite.svg#" + card.img)
                h2.js-card__title.card__title= card.title
                p.card__descr= card.description
    
