//check fonts on https://fonts.google.com/ first
@font-face {
    font-family: 'Play';
    src: url('../fonts/play-regular.woff2') format('woff2'),
         url('../fonts/play-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Play';
    src: url('../fonts/play-bold.woff2') format('woff2'),
         url('../fonts/play-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}