.button {
	@include font-size(18px);
	font-family: $btn-font-family;
	transition: color .2s ease-in-out, background-color .2s ease-in-out, box-shadow .2s ease-in-out;
}

.btn {
	@extend .button;
	color: $white;
	background-color: transparent;
	border: none;
	outline: none;

	&--secondary {

	}
}
.btn:focus {
	outline: none;
}

.burger-line {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 25px;
	height: 2px;
	background-color: $white;
	border: 0px solid $white;
	border-radius: 2px;
	transform: translate(-50%, -50%);
	transition: background-color .3s ease-in-out, transform .3s ease-in-out;
}

.burger {
	position: relative;
	margin-left: auto;
	width: 56px;
	height: 56px;
	transform: translateX(15px);

	&:hover {
		background-color: $accent;
	}

	&__line {
		@extend .burger-line;

		&::before {
			content: '';
			@extend .burger-line;
			top: calc(50% - 6px);
		}

		&::after {
			content: '';
			@extend .burger-line;
			top: calc(50% + 6px);
		}
		&.active {
			background-color: transparent;
			&::before {
				content: '';
				@extend .burger-line;
				transform: translate(-50%, -50%) rotate(45deg);
			}
	
			&::after {
				content: '';
				@extend .burger-line;
				transform: translate(-50%, -50%) rotate(-45deg);
			}
		}
	}

	@media (min-width: map-get($grid-breakpoints, xl)) {
        display: none;
    }
}

.cross {
	position: relative;
	width: 20px;
	height: 20px;
	
	&__line {

		&:before {
			content: '';
			@extend .burger-line;
			transform: translate(-50%, -50%) rotate(45deg);
		}

		&::after {
			content: '';
			@extend .burger-line;
			transform: translate(-50%, -50%) rotate(-45deg);
		}
	}
	&:hover {
		.cross__line::before,
		.cross__line::after {
			background-color: $accent;
		}
	}
	
}

.hero__button {
	@extend .button;

	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 56px;
	color: $white;
	background-color: $accent;
	

	@media (min-width: map-get($grid-breakpoints, sm)) {
        width: 192px;
		margin: 0 auto;
    }

	
	&:hover {
		background-color: $black;
		border: 2px solid $accent;
		box-shadow: 0px 0px 10px 0px $accent;
	}
}