.nav {
    display: none;
    width: 100%;
    @media (min-width: map-get($grid-breakpoints, xl)) {
        display: flex;
    }

    .nav-list {
        display: flex;
        align-items: center;

        &__item:not(:last-child) {
            margin-right: 50px;
        }
    }
    
}