.social-list {
    display: flex;
    align-items: center;
    
    margin-left: auto;
    &__item {
    }
    &__link {
        &:hover {
            .social-list__img {
                fill: $accent;
            }
        }
    }
    &__img {
        width: 30px;
        height: 24px;
        fill: #808080;
        transition: fill .2s ease-in-out;
    }
    &__item:not(:last-child) {
        margin-right: 30px;
    }
}