#helloModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenter' aria-hidden='true')
	.modal-dialog.modal-dialog-centered(role='document')
		.modal-content
			.modal-header
				button.cross.btn(type='button' data-dismiss='modal' aria-label='Close')
					span.cross__line(aria-hidden='true')
				//button.close(type='button' data-dismiss='modal' aria-label='Close')
					span(aria-hidden='true') &times;
				h5#exampleModalLabel.modal-title.heading-h1 ПРЕИМУЩЕСТВА G‑SYNC
			.modal-body
				form.modal-form(action="") 
					input.modal-form__input(name="name", id="name", type="text", placeholder="Имя")
					input.modal-form__input(name="email", id="email", type="text", placeholder="Mail")
			.modal-footer
				button.btn.hero__button(type='button') Купить
