// глобальные стили кроме normalize
html,
body {
	font-family: $font-family-base;
	color: $white
}
body {
	height: 100vh;
	
	@media (max-width: map-get($grid-breakpoints, xl)) {
        height: auto;
    }
}
main {
	height: calc(100vh - 90px);
	@media (max-width: map-get($grid-breakpoints, xl)) {
        height: auto;
    }
}
.container {
	@include make-container();
	@include make-container-max-widths();
}

p {
	margin: 0;
	padding: 0;
}
img {
	@include img-fluid();
}
a {
	color: $white;
	text-decoration: none;
	transition: color .2s ease-in-out;

	&:hover {
		color: $accent;
	}
}
