@import '../config.scss';

.grid {
    display: grid;
    margin-bottom: 20px;
    @media (min-width: map-get($grid-breakpoints, md)) {
        grid-template-columns: 1fr 1fr;
        grid-gap: $grid-gutter-width;
        grid-auto-rows: 2;
    }
    @media (min-width: map-get($grid-breakpoints, xl)) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: $grid-gutter-width;
    }

    &__item {
        display: block;
    }
}