@import '../_variables.scss';

.header {
    display: flex;
    align-items: center;
    height: 56px;
    background-color: $black;
    
    &__item {
        z-index: 2;
        display: flex;
        background-color: inherit;
        &.fixed {
            position: fixed;
        }
    }
    &__logo {
        width: 45px;
        height: 34px;
        align-self: center;
        
        @media (min-width: map-get($grid-breakpoints, xl)) {
            width: 81px;
            height: 60px;
            margin-right: 50px;
        }
    }
    @media (min-width: map-get($grid-breakpoints, xl)) {
        height: 90px;
    }
}