.card {
    &__img {
        width: 151px;
        height: 71px;
        fill: none;
        stroke: $white;
        transition: stroke .2s ease-in-out;
        
        use {
            width: 151px;
            height: 71px;

            svg {
                width: inherit;
                height: inherit;
            }
        }
    }
    padding: 30px 0;
    &__title {

    }
    &__title_accent {
        color: $accent
    }
    &__descr {
        
    }
    &:hover {
        .card__img {
            stroke: $accent;
            fill: rgba($color: $accent, $alpha: 0.25);
        }
    }
    @media (min-width: map-get($grid-breakpoints, xl)) {
        
    }
}