.hero {
    height: 100%;
    padding: 60px 0 62px;
    background: no-repeat center / cover url('../img/bg.png');
    &__item {
        text-align: center;
    }
    &__title {
        text-align: center;
    }
    &__descr {
        @extend .hero__title;

        max-width: 730px;
        margin: 0 auto 30px;
    }
}