.menu {
    position: fixed;
    top: 56px;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 56px);
    background-color: $black;
    transform: translateY(-100vh);
    transition: transform .3s ease-in-out;
    &.active {
        
    transform: translateY(0);
    }

    .nav-list {
        flex-direction: column;

        &__item {
            text-align: center;
            margin-top: 28px;
        }
        &__item:not(:last-child) {
        }
    }
    .social-list {
        margin: auto auto 55px;
    }

}