@import "../../config.scss";
.modal-header{
    flex-direction: column;
    padding-top: 0;
    border: none;

    .cross {
        margin-left: auto;
        padding: 22px;
        transform: translateX(16px);
    }
}
.modal-title {
    width: 100%;
    text-align: center;
}
.modal-content {
    background-color: $black;
    box-shadow: 0px 0px 20px 0px #77B90080;
}
.modal-body {
    padding-top: 0;
}
.modal-form {
    display: flex;
    flex-direction: column;

    &__input {
        width: 100%;
        height: 56px;
        margin: 0 auto 20px;
        padding: 0 20px;
        color: $black;

        &::placeholder {
            color: $black;
        }
        @media (min-width: map-get($grid-breakpoints, sm)) {
            width: 350px;
        }
    }
}
.modal-footer {
    padding-top: 0;
    border: none;

    .hero__button {
        margin-bottom: 57px;
    }
}